.info-card {
	padding: 20px 0;
	color: $dusty-gray;
	background: linear-gradient(135deg, #444 0, #000 100%);

	&>.container {
		max-width: 1500px;

		@include xl-max {
			max-width: 960px;
		}

		@include lg-max {
			max-width: 720px;
		}

		@include md-max {
			max-width: 540px;
		}
	}

	&__row {
		display: flex;
		gap: 30px;

		@include lg-max {
			gap: 20px;
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__content,
	&__img {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__content {
		max-width: calc(58.503% - 15px);

		@include xl-max {
			max-width: calc(58.601% - 15px);
		}

		@include lg-max {
			max-width: 100%;
		}

		&>h2 {
			margin: 0;
			text-transform: uppercase;
		}
	}

	&__subtitle {
		margin: 0 0 30px;
		font-size: 24px;
		font-weight: 100;
		text-transform: uppercase;

		@include lg-min {
			font-size: 20px;
		}
	}

	&__img {
		width: 100%;
		max-width: calc(41.497% - 15px);
		align-items: center;


		@include xl-max {
			max-width: calc(41.399% - 15px);
		}

		@include lg-max {
			max-width: 100%;
		}

		img {
			object-fit: cover;
			object-position: center;
		}
	}
}