@import "../../../../assets/css/vars";
@import "../../../../assets/css/mixin";

.etnos-slider-inst {
  background: #d4d4d4;
  padding: 50px 0;

  .container {
    @include xxl-max {
      max-width: 1200px;
    }
    @include xl-max {
      max-width: 991px;
    }
    @include lg-max {
      max-width: 767px;
    }
    @include md-max {
      max-width: 567px;
    }
  }

  p {
    color: #6c6c6c;
    font-weight: 500;
  }

  h4 {
    color: #6c6c6c;
    font-weight: 500;
    margin-bottom: 5px;
  }

  &__avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 135px;
    height: 135px;

    img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }

  &__img {
    display: inline-flex;
    position: relative;
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    height: 46px;
    width: 46px;
    padding: 8px;
    border-radius: 50%;
  }

  .swiper-button-prev {
    color: #6c6c6c;
    transition: 0.4s all ease;
    left: 0;
    &:hover {
      color: black;
    }
  }

  .swiper-button-next {
    color: #6c6c6c;
    right: 0;
    transition: 0.4s all ease;
    &:hover {
      color: black;
    }
  }

  @include xl-max {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }

  .swiper-slide {
    text-align: center;
  }
}
