@import './vars';
@import './mixin';

.etnos-header {
  background: linear-gradient(90deg, rgba(238, 238, 238, 1) 30%, rgba(209, 208, 208, 1) 100%);

  &__top {
    background-color: $dark;
    padding: 5px 0;

    a {
      color: $white;
      font-size: 14px;
    }

    &-wrap {
      display: flex;
      justify-content: space-between;
    }

    &-callback {
      background-image: $phone-w;
      background-repeat: no-repeat;
      background-position: left 4.5px;
      background-size: 10px;
      padding-left: 14px;
      text-transform: uppercase;
      transition: background-image 300ms, color 300ms;

      &:hover {
        background-image: $phone-r;
      }
    }

    &-phone {
      display: flex;
      gap: 20px;
    }
  }

  &__main {
    &-wrap {
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-logo {
      max-width: 120px;
      height: auto;
    }

    &-menu {
      &>ul {
        display: flex;
        align-items: center;
        gap: 20px;

        li {
          list-style: none;

          a {
            font-size: 18px;
            font-weight: 800;
            text-transform: uppercase;
          }
        }
      }
    }

    &-toolbar {
      display: flex;
      align-items: center;
      gap: 15px;

      button {
        width: 20px;

        &:hover {
          path {
            fill: $red;
          }
        }
      }
    }
  }
}