@import "./vars";
@import "./mixin";

.etnos-header {
  background: linear-gradient(90deg,
      rgba(238, 238, 238, 1) 30%,
      rgba(209, 208, 208, 1) 100%);

  &.open {
    .etnos-header__main-menu {
      transform: translateX(0);
    }

    .etnos-header__burger {
      span:nth-child(1) {
        transform: rotate(45deg);
        top: -2px;
        left: 5px;
      }

      span:nth-child(2) {
        width: 0%;
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(-45deg);
        top: 100%;
        left: 5px;
      }
    }
  }

  &__burger {
    width: 25px;
    height: 15px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    @include lg-min {
      display: none;
    }

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #222222;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }


    & span:nth-child(1) {
      top: 0px;
      transform-origin: left center;
    }

    & span:nth-child(2) {
      top: 50%;
      transform-origin: left center;
    }

    & span:nth-child(3) {
      top: 100%;
      transform-origin: left center;
    }
  }

  &__top {
    background-color: $dark;
    padding: 5px 0;

    a {
      color: $white;
      font-size: 14px;
    }

    &-wrap {
      display: flex;
      justify-content: space-between;
    }

    &-callback {
      background-image: $phone-w;
      background-repeat: no-repeat;
      background-position: left 4.5px;
      background-size: 10px;
      padding-left: 14px;
      text-transform: uppercase;
      transition: background-image 300ms, color 300ms;

      &:hover {
        background-image: $phone-r;
      }
    }

    &-phone {
      display: flex;
      gap: 20px;
    }
  }

  &__main {
    &-wrap {
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-logo {
      max-width: 120px;
      height: auto;
    }

    &-menu {
      @include lg-max {
        position: fixed;
        inset: 0 auto 0 0;
        background-color: #fff;
        z-index: 999;
        padding: 50px 30px 30px;
        width: min(100%, 320px);
        overflow-y: auto;
        transform: translateX(-100%);
        transition: transform $trans;

        .menu {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 15px;
        }
      }

      &-close {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 20px;
        height: 20px;
        cursor: pointer;

        @include lg-min {
          display: none !important;
        }

        &:hover {

          &::after,
          &::before {
            background-color: $red;
          }
        }

        &::after,
        &::before {
          content: '';
          height: 20px;
          width: 2px;
          background: #222222;
          display: inline-block;
          transition: background $trans;
        }

        &::after {
          transform: rotate(45deg) translate(5px, -5px);
        }

        &::before {
          transform: rotate(-45deg)translate(6px, 6px);
        }
      }

      &>ul {
        display: flex;
        align-items: center;
        gap: 20px;

        li {
          list-style: none;

          a {
            font-size: 18px;
            font-weight: 800;
            text-transform: uppercase;
          }
        }
      }
    }

    &-toolbar {
      display: flex;
      align-items: center;
      gap: 15px;

      button,
      a {
        width: 20px;

        &:hover {
          path {
            fill: $red;
          }

          .etnos-header__main-toolbar-cart-count {
            background-color: $red;
          }
        }
      }

      &-cart {
        &-count {
          position: absolute;
          top: -5px;
          right: -5px;
          height: 15px;
          width: 15px;
          background-color: $dark;
          color: $white;
          border-radius: 50%;
          font-size: 8px;
          display: grid;
          place-content: center;
          transition: background-color 450ms;
          line-height: 0;
        }

        &-main {
          position: relative;
          width: 20px;

          &.active {
            .widget_shopping_cart_content {
              animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            }
          }

          @keyframes slide-top {
            0% {
              transform: translateY(15px);
            }

            10% {
              opacity: 1;
              visibility: visible;
            }

            50% {
              opacity: 1;
              visibility: visible;
              transform: translateY(-2px);
            }

            100% {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
            }
          }

          .widget_shopping_cart_content {
            position: absolute;
            background-color: $white;
            width: 340px;
            top: calc(100% + 5px);
            right: 100%;
            z-index: 1;
            padding: 15px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
              rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            opacity: 0;
            visibility: hidden;
            z-index: 997;

            @include lg-max {
              right: -40px;
            }

            .etnos-header-mini-cart-item {
              display: flex;
            }

            .variation {
              display: flex;
              flex-wrap: wrap;

              &>dt {
                flex: 0 0 50%;
              }
            }
          }
        }
      }
    }
  }
}