$pr: var(--e-global-color-primary); // #18455B
$sec: var(--e-global-color-secondary); // #2769EF


$acc: var(--e-global-color-accent); // #F5F5F5
$orange: var(--e-global-color-31c33f9); // #EF8200


$light: var(--e-global-color-d5daea7); // #ffffff
$light-gray: var(--e-global-color-2817fd4); // ##CBCBCB
$sky: var(--e-global-color-11d843b); // #7FC4FD


$font: 'FuturaBookC';
$grey: #515151;
$dark: #222222;
$red: #ff5655;